:root {
  --header-height: 3rem;
  --nav-width: 324px;
  
    /* FONT WEIGTH */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  
    /* COLORS */
  --first-color: #58c458;
  --first-color-dark: #07051b;
  --first-color-darken: #3f8f3f;
  --text-color: #54423d;
  --first-color-light: #eae7e6;
  --first-color-lighten: #fffafa;
  
    /* TYPOGRAPHY */
  --body-font: "Cairo", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.814rem;
  --smaller-font-size: 0.75rem;
  
    /* MARGINS */
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  
    /* Z INDEX */
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.815rem;
  }
}